<html>
    <body style="background-color:#D8F0FA;">
      <head>
        <style type="text/css">
          
          .center{
            margin: 0 auto;
            padding: 0;
            overflow: auto;
          }
          .center{
            padding: 20% 0;
            text-align: center;
          }
          
        </style>
      </head>
 
      <div id="headtext">
        <table align = "center">
            <tr>
                <td>
                    <h1>College Pathfinder!</h1>
                </td>
                <td>
                    <button class="button" disabled>
                        Interests
                    </button>
                </td>
                <td>
                    <button class="button" disabled>
                        Scheduling
                    </button>
                </td>
                <td>
                    <button class="button" disabled>
                        Maps
                    </button>
                </td>
            </tr>
        </table>
    </div>
    
    <div class = "center">
       <p>Welcome to College Pathfinder. Here we will help you find the clubs and classes you desire and organize them into your schedule. Get started by creating an account below.</p>
        <div id="bodytext">
         <table align = "center">
         <tr>
           <td>
             <button class="button" onclick="document.location = '/signup'">Get Started</button>
           </td>
         </tr>
         </table>
        </div>
    </div>

      
    </body> 
 </html>
