<html>
    <body style="background-color:#D8F0FA;">
      <head>
        <style type="text/css">
          
          .button {height: 25px; width: 100px; background-color:lightpink;}

          h1{text-align:center;}
          
          .center{
            margin: 0 auto;
            padding: 0;
            overflow: auto;
          }
          .center{
            padding: 15% 0;
            text-align: center;
          }
          
        </style>
      </head>

      <h1>College Pathfinder</h1>

      <div id="headtext">
        <table align = "center">
            <tr>
                <td>
                    <button class="button" disabled>
                        Interests
                    </button>
                </td>
                <td>
                    <button class="button" onclick="document.location = 'scheduling.html'">
                        Scheduling
                    </button>
                </td>
                <td>
                    <button class="button" disabled>
                        Maps
                    </button>
                </td>
            </tr>
        </table>
    </div>
    
    <div class = "center">
       <p>Welcome to College Pathfinder!
         <br>
         <br>Here we will help you find the perfect clubs for you and allow you to organize
          them into your schedule. Get started by creating an account below.
       </p>
        <div id="bodytext">
         <table align = "center">
         <tr>
           <td>
             <button class="button" onclick="document.location = 'signUp.html'">
                Sign Up Now
             </button>
           </td>
         </tr>
         </table>
        </div>
    </div>

      
    </body> 
 </html>
