<html>
    <body style="background-color:#D8F0FA;">
      <head>
        <style type="text/css">
          
          .button {height: 25px; width: 100px; background-color:lightpink;}

          h1{text-align:center;}
          h2{text-align:center;}
          p{text-align: center;}
          
          .center{
            margin: 0 auto;
            padding: 0;
            overflow: auto;
          }
          .center{
            padding: 15% 0;
            text-align: center;
          }
          
        </style>
      </head>

      <h1>College Pathfinder</h1>

      <div id="headtext">
        <table align = "center">
            <tr>
                <td>
                    <button class="button" disabled>
                        Interests
                    </button>
                </td>
                <td>
                    <button class="button" onclick="document.location = 'scheduling.html'">
                        Scheduling
                    </button>
                </td>
                <td>
                    <button class="button" onclick="document.location = 'maps.html'">
                        Maps
                    </button>
                </td>
            </tr>
        </table>

        <h2>Interest Categories</h2>
        <p>As you select any areas you are interested in, suggested clubs and classes for you will appear to the right.</p>

        <table id = "dataTable3" style="width:20%; margin-top: 5%; margin-left: 5%;"; align = "center";>
          <thead>
              <tr>
                  <th colspan="2">Categories</th>
              </tr>
          </thead>
          <tbody>
              <tr height="21px">
                  <td align = "left">
                    <p>Accounting</p>
                  </td>
                  <td align = "left">
                    <p>Anthropology</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Biomedical</p>
                  </td>
                  <td align = "left">
                    <p>Business</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Chemistry</p>
                  </td>
                  <td align = "left">
                    <p>Dental</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Economics</p>
                  </td>
                  <td align = "left">
                    <p>Education</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Electricity</p>
                  </td>
                  <td align = "left">
                    <p>Engineering</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Finance</p>
                  </td>
                  <td align = "left">
                    <p>Law</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Math</p>
                  </td>
                  <td align = "left">
                    <p>Medical</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Music</p>
                  </td>
                  <td align = "left">
                    <p>Neuroscience</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Nursing</p>
                  </td>
                  <td align = "left">
                    <p>Physical Therapy</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Physics</p>
                  </td>
                  <td align = "left">
                    <p>Psychology</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Science</p>
                  </td>
                  <td align = "left">
                    <p>Statistics</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>STEM</p>
                  </td>
                  <td align = "left">
                    <p>Veterinary</p>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <p>Women</p>
                  </td>
              </tr>
          </tbody>
      </table>
      
      
      
    </div>
    </body> 
 </html>
