<html>
    <body style="background-color:#D8F0FA;">
      <head>
        <style type="text/css">
          
          .button {height: 25px; width: 100px; background-color:lightpink;}

          h1{text-align:center;}
          h2{text-align:center;}
          p{text-align: center;}
          
          .center{
            margin: 0 auto;
            padding: 0;
            overflow: auto;
          }
          .center{
            padding: 15% 0;
            text-align: center;
          }
          
        </style>
      </head>

      <h1>College Pathfinder</h1>

      <div id="headtext">
        <table align = "center">
            <tr>
                <td>
                    <button class="button" disabled>
                        Interests
                    </button>
                </td>
                <td>
                    <button class="button" onclick="document.location = 'scheduling.html'">
                        Scheduling
                    </button>
                </td>
                <td>
                    <button class="button" onclick="document.location = 'maps.html'">
                        Maps
                    </button>
                </td>
            </tr>
        </table>

        <h2>Interest Categories</h2>
        <p>As you select any areas you are interested in, suggested clubs and classes for you will appear to the right.</p>

        <table id = "dataTable3" style="width:20%; margin-top: 5%; margin-left: 5%;"; align = "center";>
          <thead>
              <tr>
                  <th colspan="2">Categories</th>
              </tr>
          </thead>
          <tbody>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="acc" value="1">Accounting</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="ant" value="1">Anthropology</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="biomed" value="1">Biomedical</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="bus" value="1">Business</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="chem" value="1">Chemistry</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="dent" value="1">Dental</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="econ" value="1">Economics</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="edu" value="1">Education</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="elec" value="1">Electricity</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="eng" value="1">Engineering</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="fin" value="1">Finance</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="law" value="1">Law</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="math" value="1">Math</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="med" value="1">Medical</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="mus" value="1">Music</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="neuro" value="1">Neuroscience</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="nur" value="1">Nursing</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="phyther" value="1">Physical Therapy</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="phy" value="1">Physics</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="psych" value="1">Psychology</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="sci" value="1">Science</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="stat" value="1">Statistics</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="stem" value="1">STEM</input>
                  </td>
                  <td align = "left">
                    <input type="checkbox" name="vet" value="1">Veterinary</input>
                  </td>
              </tr>
              <tr height="21px">
                  <td align = "left">
                    <input type="checkbox" name="wom" value="1">Women</input>
                  </td>
              </tr>
          </tbody>
      </table>

      <INPUT type="button" value="Submit" onclick="document.location = '/inTag'"; style = "background: lightpink; position: absolute; left: 11%; top: 80%;" />

      {{tableFromTags}}
    </div>
    </body> 
 </html>
