<html>
    <body style="background-color:#D8F0FA;">
      <head>
        <style type="text/css">
          
          .button {height: 25px; width: 100px; background-color:lightpink;}

          h1{text-align:center;}
          p{text-align: center;}
          
          .center{
            margin: 0 auto;
            padding: 0;
            overflow: auto;
          }
          .center{
            padding: 35% 0;
            text-align: center;
          }
          
        </style>
      </head>

      <h1>College Pathfinder</h1>

      <div id="headtext">
        <table align = "center">
            <tr>
                <td>
                    <button class="button" onclick="document.location = 'interests.html'">
                        Interests
                    </button>
                </td>
                <td>
                    <button class="button" disabled>
                        Scheduling
                    </button>
                </td>
                <td>
                    <button class="button" onclick="document.location = 'maps.html'">
                        Maps
                    </button>
                </td>
            </tr>
        </table>

        <p>Here, click "Edit Schedule" to choose and finalize your courses and clubs. Afterwards, your schedule will show below.</p>

    </div>
    <div class = "center">
       <div id="bodytext">
        <table align = "center">
        <tr>
          <td>
            <button class="button" onclick="document.location = 'editSchedule.html'">
               Edit Schedule
            </button>
          </td>
        </tr>
        </table>
       </div>
   </div>    
  </body> 
 </html>
