<html>
    <body style="background-color:#D8F0FA;">
      <head>
        <style type="text/css">
          
          .button {height: 25px; width: 100px; background-color:lightpink;}

          h1{text-align:center;}
          
          .center{
            margin: 0 auto;
            padding: 0;
            overflow: auto;
          }
          .center{
            padding: 15% 0;
            text-align: center;
          }
          
        </style>
      </head>

      <h1>College Pathfinder</h1>

      <div id="headtext">
        <table align = "center">
            <tr>
                <td>
                    <button class="button" disabled>
                        Interests
                    </button>
                </td>
                <td>
                    <button class="button" disabled>
                        Scheduling
                    </button>
                </td>
                <td>
                    <button class="button" disabled>
                        Maps
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class = "center">
        <p>Here, you can sign up to utilize the website to find new clubs you can pursue, organize a schedule, and aid you in getting your classes. 
          <br>If you already have an account, please log in here. </br>
        </p>

        <div id="bodytext">
          <table align = "center">
          <tr>
            <td>
              <button class="button" onclick="document.location = 'login.html'">Go To Login</button></a>
            </td>
          </tr>
          </table>
        </div>

         <div id="bodytext">
          <table align = "center">
            <form action="post.html" method="post">
         <tr>
            <td>
                Name:
            </td>
            <td>
              <input type="text" name="name"></input>
           </td>
         </tr> 
         <tr>
            <td>
                Age:
            </td>
            <td>
                <input type="text" name="name"></input>
            </td>
         </tr>
         <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="text" name="name"></input>
            </td>
         </tr>
         <tr>
            <td>
                Username:
            </td>
            <td>
                <input type="text" name="name"></input>
            </td>
          </tr>
          <tr>
            <td>
              Password: 
            </td>
            <td>
              <input type="text" name="name"></input>
            </td>
          </tr>
          <tr>
            <td>
              Retype Password: 
            </td>
            <td>
              <input type="text" name="name"></input>
            </td>
          </tr>
                    
          <table align = "center">
          <tr>
            <td>
              <button class="button" onclick="document.location = 'interests.html'">
                Submit
            </button>
            </td>
          </tr>
          </table>
         </div>
     </div>

    </body> 
 </html>
